.product__card{
    background: var(--bg-card);
    padding: 10px;
    display: inline-block;
    border-radius: var(--radius-card);
    box-shadow: var(--box-shadow-card);
}
.product__img{
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 150px;
    margin-bottom: 10px;
}
.product__detail{
    font-weight: bold;
    position: relative;
    width: 100%;
    padding: 5px;
}
.detail__name{
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.detail__ranking{
    margin-bottom: 15px;
    display: flex;
    gap: 3px;
}
.detail__ranking img{
    height: 10px;
}
.detail__price{
    color: var(--celeste-1);
    font-size: 1.1rem;
}
.detail__price::before{
    content: '$ ';
}
.btn-trash{
    position: absolute;
    right: 10px;
    bottom: 0px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    background: var(--primary-color);
}
.btn-trash img{
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
}
