section h2{
    width: 100%;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.products__container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background: white;
    box-shadow: var(--box-shadow-container-card);
}
.product-add{
    padding: 5px;
    width: 100%;
}
.product-add form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.product-add form .input{
    border: 1px solid var(--celeste-2);
    padding: 10px 15px;
    border-radius: 15px;
    background: white;
}
.product-add form input[type="image"]{
    display: none;
}
.product-add form input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: #bebebe;
    border-radius: 25px;
    height: 10px;
    cursor: pointer;
}
.product-add form input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    color: var(--primary-color);
}
