/* Imports */



    /* colores */

/*     --primary-color: #9747FF;
    --celeste-1: #95CADC;
    --celeste-2: #008ABB;
    --text-color: #393B40; */

    /* header */
/*    
    --header-box-shadow: rgb(151, 71, 255, 0.3) 0px 10px 27px -5px,
     rgb(151, 71, 255, 0.3) 0px 4px 16px -8px; */
    /* Card */
/*     --bg-card: #F5F5F5;
    --radius-card: 10px;
    --radius-img-card: 5px;
    --box-shadow-card: 0px 0px 12px rgba(0,0,0,0.1);

    --box-shadow-container-card: 4px 4px 15px rgba(0,0,0,0.08); */

/* 
html{
    color: var(--text-color);
}
body{
    position: relative;
    width: 100%;
}
main{
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
    padding: 25px;
    padding-top: 30px;
    top: 60px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 15px 45px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary-color);
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
}
.btn-secondary{
    background-color: white;
    color: var(--primary-color);
}
.btn-primary:hover{
    box-shadow: 5px 5px 15px rgb(151, 71, 255, 0.5);
}
.btn-secondary:hover{
    box-shadow: 5px 5px 15px rgb(151, 71, 255, 0.5), 
    inset 5px 5px 15px rgba(151, 71, 255, 0.5);
}
 */

*{
    transition: all .3s ease-in-out;
}
.btn:hover{
    box-shadow: 5px 5px 15px rgb(151, 71, 255, 0.5);
}